.circle{
    background-color: black;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}
.circle_in{
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 450px;
    border-radius: 50%;
}
.s{
    width: 10px;
    height: 80%;
    background:linear-gradient(to top,transparent 50%,red 50%);
    position: absolute;
    background-color: transparent;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    animation-name: rotate-360;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.min{
    width: 10px;
    height: 60%;
    background:linear-gradient(to top,transparent 50%,rgb(85, 18, 18) 50%);
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
    animation-name: rotate-360;
    animation-duration: 3600s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.h{
    width: 10px;
    height: 40%;
    background:linear-gradient(to top,transparent 50%,rgb(31, 78, 12) 50%);
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%);
    animation-name: rotate-360;
    animation-duration: 43200s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.radus{
    background-color: black;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
}
@keyframes rotate-360{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}